body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
#start-screen {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: sans-serif;
  z-index: 9999;
  cursor: pointer;
}

.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Ubicación del rectángulo negro de la radio */
#equalizer {
  position: absolute;

  /* Ajusta EXACTAMENTE A TU IMAGEN */
  top: 52%; /* Ajustado para tu PNG */
  left: 61.5%;
  transform: translateX(-50%);

  width: 290px; /* Ancho del rectángulo */
  height: 140px; /* Alto del rectángulo */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  /* Debug (puedes borrar esta línea si quieres) */
  /* background: rgba(255,0,0,0.1); */
}

.bar {
  width: 14px;
  background: #7df9ff; /* color cyan neon */
  border-radius: 4px;
  height: 20px;

  /* Suavidad */
  transition: height 0.05s linear;
}
