body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#contenedor {
    text-align: center;
}

#video {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px #000;
}

#estado {
    margin-top: 20px;
    font-size: 18px;
}
